





/* Center the slider container */
.slider-container {
    width: 600px;
    margin: 0 auto 50px auto; /* Center the slider */
    display: flex;
    justify-content: flex-end;
  }
  
  .slide img {
    display: block;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  } */
  
  .button-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 450px;
    margin-left: 100px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
  
  }