.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.cart-container {
    position: relative;
    cursor: pointer;
  }
  
  .cart-icon {
    width: 40px;
    height: 40px;
  }
  
  .nav-cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    padding: 3px 7px;
  }
  
  .cart-popup {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    min-width: 180px;
    text-align: center;
    z-index: 100;
  }
  
  .view-cart-btn {
    background-color: #6200ea;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .view-cart-btn:hover {
    background-color: #4500b5;
  }
  