.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color:#171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:3px;
   cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cart-count{
  top: -2px;
  left: 15px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.cart-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: auto;
  
    
  }

  .cart-container button{
    width: 60px;
    height: 58px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

  }


  .cart-icon {
    width: 40px;
    height: 40px;
    display: flex;
  }
  
  
  .nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 14px;
    background: red;
    color: white;
}
  
  .cart-popup {
    position: absolute;
    top: 50px;
    right: 0;
    left: -10px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(72, 62, 62, 0.2);
    border-radius: 8px;
    padding: 10px;
    min-width: 180px;
    text-align: center;
    z-index: 100;
  }
  .account {
    margin-bottom: 80px;
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 100;  

  }
  

  